*{
  color: darkslategray;
  font-weight: normal;
  font-family: 'Arial Narrow' , Arial ,sans-serif;
  font-stretch: ultra-condensed;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: royalblue;
}
 header{
   background-image: linear-gradient(to bottom right, darkslateblue, darkcyan);
   padding: 21px 18px;
 }
 
 header > h1 {
  color: white;
  font-size: 1.1rem;
  display: inline;
 }